.about-tabs .container {
  position: relative;
}
.about-tabs .cta-section {
  padding: 160px 0 100px;
}
.tab-header-wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  left: 0;
  right: 0;
}
.tab-headers {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.tab-button {
  background: #f05b29;
  display: block;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: all 1.5s ease-in-out;
}
.tab-button span {
    font-family: "Blinker", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
  }
  .tab-button::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #ae1f24;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.tab-button.active::after {
    transform: translateX(0%);
    opacity: 1;
}
/* .tab-button.active {
  background: #ae1f24;

} */

.tab-content .tab-pane {
  display: block;
}
@media (max-width: 768px) {
  .tab-headers {
    display: none;
  }

  .tab-button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .tab-content .tab-pane {
    display: none;
  }

  .tab-button.active + .tab-pane {
    display: block;
  }
}
